.container {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.openModalBtn {
  padding: 0.8rem 1.2rem;
  background-color: #fefefe;
  border: 0.1rem solid #9f9f9f;
  border-radius: 0.5rem;
  cursor: pointer;
}

.todoList {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}

.todoItem {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
