.myday-page {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.content-area {
  flex: 1;
  display: flex;
  background-color: #ffffff;
  border: solid 1px #dde1e6;
  padding: 1rem;
}

.calendar-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
